# Dependencies
node_modules

# Next.js
.next
out

# Build outputs
dist
packages/webgl-slider/dist

# Storybook (generated during build)
public/storybook
storybook-static

# Environment
.env
.env.local
.env.production

# IDE
.vscode
.idea

# OS
.DS_Store

# Logs
*.log
npm-debug.log*
